<div class="footerDiv bg-dark text-white">
  
  <div class="row">
    <div class="col-md-1"></div>
      <div class="divider-margin col-md-3">
        <div class="footerTitles ">About</div>
        <div class="footerText">
          <div>This site is under construction. If you hit a duff link or can't find what you're looking for, please accept my most humble apologies. One day there will be a Contact form where you can mail me your queries. One day...</div>
        </div>
      </div>
      <div class="divider-margin col-md-3">
        <div class="footerTitles">Connect</div>
        <div class="left-text">
        <div>Instagram</div>
        <div>Facebook</div>
        </div>
      </div>
      <div class="divider-margin col-md-3">
          <div class="footerTitles">Quicklinks</div>
      </div>
    </div>
</div>