.footerTitles {
    font-weight: bold;
    font-size: 100%;
    padding: 3% 0 3% 0;
}

.centreText {
    text-align: center
}

.divider-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider-right {

}

.footerDiv .row {
    margin: 0;
}

.footerText {
    padding-bottom: 8%;
}

.left-text {
    text-align: left
}