<div class="footerDiv bg-dark text-white">
  <div class="row">
    <div class=" col-md-4">
        <div class="footerTitles">About</div>
        <div>image goes here</div>
        <div>Since a long time ago I've been travelling and doing cool stuffs and now I'm going to babble about it on this site.</div>
    </div>
    <div class=" col-md-4">
      <div class="footerTitles">Get in Touch</div>
      <div>Connect</div>
      <div iv>Twitter: @onefoxrollin</div>
      <div>Instagram: @one_fox_rollin</div>
      <div>Facebook: OneFoxRollin</div>
      <div>TripAdviser: One Fox Rollin</div>
    </div>
  </div>
  <div class=" col">
      <div class="footerTitles">
        Email me interesting things!
      </div>
      <div class="form-group">
        <input class="form-control" 
          id="footerEmailMe" 
          type="text" 
          placeholder="your email address here!" 
          formControlName="footerEmail" />
      </div>
  </div>
  <div class=" col">
      <div class="footerTitles">Search</div>
      <div class="form-group">
        <input class="form-control"
          id="footerSearch"
          type="text"
          placeholder="search this site"
          formControlName="footerSearch" />
      </div>
  </div>
</div>